*,
::before,
::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #000;
}

.logo img {
    width: 150px;
}

.btn-wrapper div {
    display: inline-block;
    font-size: 25px;
    margin-right: 20px;
    border: 1px solid #000;
    border-radius: 9px;
    padding: 5px;
}

.btn-wrapper div:hover {
    cursor: pointer;
    text-decoration: underline;
}

main .List_element {
    border: 1px solid #000;
    margin: 1px 0;
}

main .List_element h4 {
    font-size: 20px;
}

.List_element ul {
    display: none;
}

.List_element ul.show {
    display: block;
}