@import "reset";

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 375px;
    overflow: hidden;
  }

  main {
    flex-grow: 1;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #f39422;
}

input.error {
    border-color:  rgb(252, 2, 2) !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient( to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../images/wallpapers.jpg') center no-repeat;
    background-size: cover;
    font-size: 22px;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

// .center {
//     width:1360px;
//     margin: 0 auto;
//     padding: 0 20px;
// }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.911);
    color: #fff;
}

.logo img {
    width: 150px;
    display: block;
    cursor: pointer;
}

.btn-wrapper div {
    display: inline-block;
    font-size: 25px;
    margin-right: 20px;
    border: 2px solid rgb(214, 209, 209);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    border-radius: 9px;
    padding: 8px;
    transition: all linear 0.2s;

    &.active {
        pointer-events: none;
        background-color: #fff;
        color: #000;
    }
}

.btn-wrapper div:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    transition: all linear 0.2s;
}

main {
    color: #fff;
    
    strong {
        display: block;
        margin: 10px auto 0;
        width: 300px;
        text-align: center;
    }

    .button_for_add {
        display: block;
        width: 170px;
        padding: 16px 5px;
        margin: 5px auto 20px;
        border-radius: 12px;
        color: #fff;
        border: none;
        background-color: #f39422;
        box-shadow: 0 0 20px rgba(250, 162, 0, 0.76);
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            background-color: #e4820b;
          }
    }

    .List_element {
        border-bottom: 2px solid #fff;
        padding: 10px 5px;
        background: rgba(0, 0, 0, 0.904);

        .div_for_info {
            flex-grow: 1;

            h4 {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 5px;
            }
        }

        .div_for_button {
            padding: 10px;
        }

        button {
            width: 28px;
            height: 26px;
            margin-right: 15px;
            box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
            cursor: pointer;
        }

        .view {
            background: url('../images/eye2.png') #fff;
            background-size: cover;
            background-position: center;
            border: none;
            border-radius: 50%;
            padding: 0;

            &:hover {
                background-color: rgb(87, 255, 87);
            }
        }

        .edit {
            background: url('../images/edit.png') no-repeat #fff;
            background-size: 20px 18px;
            background-position: center;
            border: none;
            border-radius: 50%;
            padding: 0;

            &:hover {
                background-color: rgb(87, 255, 87);
            }
        }

        .delete {
            background: url('../images/delet.png') no-repeat #fff;
            background-size: 21px 19px;
            background-position: center;
            border: none;
            border-radius: 50%;
            padding: 0;

            &:hover {
                background-color: rgb(255, 38, 0);
            }
        }

        .sale {
            background: url('../images/card.png') no-repeat #fff;
            background-size: 21px 19px;
            background-position: center;
            border: none;
            border-radius: 50%;
            padding: 0;

            &:hover {
                background-color: rgb(87, 255, 87);
            }
        }

        button[disabled="disabled"] {
            background-color: rgb(160, 160, 160);
            pointer-events: none;
        }
    }
}

ul.information {
    display: none;
    list-style: none;

    &.show {
        display: flex;
        width: 100%;
    }

    li {
        margin-bottom: 3px;
        border-radius: 8px;
        flex-grow: 1;
        max-width: 25%;

        span {
            display: block;
            padding: 4px 10px;
            border: 1px solid #fff;
            height: 60px;
            overflow: auto;

            &:first-of-type{
                max-height: 40px;
                margin-bottom: -1px;
            }
        }
    }
}

.confirmDelet {
    display: none;
}
.confirmDelet.show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(180, 5, 5, 0.37);
    color: rgba(255,255,255,.8);
}

.yes_or_no {
    width: 300px;
    background-color: #272a34;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-wrap: wrap;
    box-shadow: 0 0 15px rgba(178, 178, 178, 0.5);
}

.yes_or_no span {
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}

.yes_or_no button {
    font-size: 20px;
    margin-right: 5px;
    background: #f39422;
    border-color: #f39422;
    cursor: pointer;
    width: 50px;
    padding: 3px 0;
    border-radius: 8px;

    &:hover {
        background: #e4820b;
        border-color: #e4820b;
    }
}

.conteiner_for_form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.76);

    .product-form,
    .auto-form,
    .user-form {
        width: 345px;
        border-radius: 10px;
        background: #272a34;
        padding: 48px 48px 20px;
        box-shadow: 0 0 15px rgba(178, 178, 178, 0.5);

        p {
            text-align: center;
            margin: 0 0 16px 0;

            &:nth-last-of-type(2) {
                margin-bottom: 20px;
            }

            &.error {
                position: relative;

                &::after {
                    content: 'Invalid value';
                    color: rgb(255, 0, 0);
                    font-size: 14px;
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        input,
        textarea,
        select {
            display: inline-block;
            margin: 0 auto;
            padding: 14px 0;
            width: 100%;
            border: none;
            border-bottom: 1px solid rgba(255,255,255,.2);
            color: rgba(255,255,255,.8) !important;
            background: transparent;
            outline: none;
        }

        select {
            &.error {
                border-bottom: 1px solid rgb(255, 0, 0);
            }
            
            option {
                background: #272a34;
            }
        }

        input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #272a34 inset !important;
        -webkit-text-fill-color: #ffffff !important;
        }

        textarea {
            height: 150px;
            resize: none;
        }

        .save_info_button,
        .back_to_list_button {
            background: #f39422;
            border-color: #f39422;
            cursor: pointer;
            width: calc(50% - 15px);
            padding: 10px 0;
            border-radius: 8px;

            &:hover {
                background: #e4820b;
                border-color: #e4820b;
            }
        }
    }
}

.customer_list_conteiner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.863);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    overflow: hidden;
}

.customer_list {
    width: 550px;
    height: 70vh;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #272a34;
    position: relative;

    .close_customer_list{
        position: sticky;
        top: 1px;
        left: 100%;
        border-left: 2px solid;
        border-bottom: 2px solid;
        border-color: rgb(117, 0, 0);
        border-radius: 0 3px 0 8px;
        padding: 5px;
        cursor: pointer;
        background: rgb(216, 63, 63);
        color: #000;

        &:hover {
            background: rgb(240, 55, 55);
        }
    }

    .customer_list_user {
        margin-bottom: 30px;
        padding: 5px;

        label {
            display: inline-block;
        }

        input {
            margin-top: 10px;
            display: block;
            border: none;
            border-bottom: 1px solid rgba(255,255,255,.2);
            color: rgba(255,255,255,.8) !important;
            background: transparent;
            outline: none;

            // &.error {
            //     border-bottom: 1px solid rgb(252, 2, 2);
            // }
        }

        button {
            background: #f39422;
            border: 2px solid #f39422;
            cursor: pointer;
            width: 50px;
            border-radius: 8px;
            margin-left: 10px;

            &:hover {
                background: #e4820b;
                border-color: #e4820b;
            }
        }
    }

    .customer_list_user.errorCount {
        position: relative;
        &::after {
            content: 'Unacceptable amount';
            color: rgb(255, 0, 0);
            font-size: 12px;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-65%);
        }
    }

    .customer_list_user.errorBalance {
        position: relative;

        &::after {
            content: 'The user does not have enough money';
            color: rgb(255, 0, 0);
            font-size: 12px;
            position: absolute;
            top: 100%;
            left: 50%;
            width: 100%;
            transform: translateX(-35%);
        }
    }
}